.footer {
  .item {
    color: #3a177a;
    font-size: 1rem;
    ion-icon {
      font-size: 1.2rem;
      margin-right: .8rem;
    }
  }
}
.price {
    ion-text {
      font-size: 18px;
    }
  width: 35vw;
}
