<div class="footer full-width flex space-between">
  <div class="item flex start vcenter">
    <ion-icon name="location-outline"></ion-icon>
    <ion-text size="text" color="medium">{{data.distance}}</ion-text>
  </div>
  <div class="item flex start vcenter">
    <ion-icon name="radio-button-on"></ion-icon>
    <ion-text size="text" color="medium">{{data.type}}</ion-text>
  </div>
  <div class="item flex end vcenter price">
    <ion-text color="primary" class="text bold">{{data.priceRange}}</ion-text>
  </div>
</div>