.card {
    border-radius: 10px;
    padding: .8rem;
    img {
        width: 81px;
        height: 81px;
        border-radius: .8rem;
    }
    .name-price {
        margin-left: 1rem;
    }
    .add {
        margin-left: 2rem;
    }
}