<div [class]="'card beautiful-shadow flex space-between vcenter ' + classes">
  <div class="flex start vcenter">
    <img [src]="'assets/images/' + data.imgSrc" alt="">

    <div class="name-price flex start vstart column">
      <ion-text class="text medium">{{data.title}}</ion-text>
      <ion-text class="text medium small" color="medium" *ngIf="data.subTitle">{{data.subTitle}}</ion-text>
      <ion-text class="text medium" color="primary">{{data.price}}</ion-text>
    </div>
  </div>

  <div *ngIf="showButton" class="add">
    <div class="add ion-activatable ripple-parent beautiful-shadow flex center vcenter">
      +
    </div>
  </div>
</div>