.content {
    padding: 14px;
    .cusine-card {
        margin-bottom: 14px;
    }
}
.top-text {
    padding: 14px;
    .menu-text {
        font-size: 1.5rem;
    }
    .sub-header {
        ion-text {
            font-size: 14px;
        }
    }
}