$primary: #FF8700;
.container {
    background-color: white;
}
.dp {
    position: relative;
    top: 0;
    left: 0;
    app-header {
        position: absolute;
        top: 0;
        left: 0;
    }
    img {
        width: 100%;
        max-height: 60vh;
    }
}

.content {
    z-index: 10000;
    padding: 14px;
    .heading {
        background-color: white;
        margin-bottom: 1.4rem;
    }
}
.time-chips {
    padding-left: 1rem;
    app-chip {
        margin-right: .4rem;
    }
}

.modal {
    margin-top: 1.2rem; 
    background-color: var(--ion-color-light);
    border-radius: 30px 30px 0 0;
    background-color: white !important;
    padding: 14px;
    position: sticky;
    height: 100%;
    transition: 1s;
    .notch {
        width: 36px;
        height: 5px;
        border-radius: 10rem;
        background-color: #D8D8D8;
        margin: auto;
    }
    .name {
        margin-top: 1rem;
        margin-bottom: .6rem;
    }
    .galary {
        margin-top: .8rem;
        .left {
            width: 66%;
            margin-right: .4rem;
            img {
                border-radius: .8rem;
                width: 100%;
                height: 10rem;
            }
        }
        .right {
            width: 34%;
            position: relative;
            .img-container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                .box {
                    width: 100%;
                    height: 50%;
                    padding: .4rem;
                    overflow: hidden;
                    &:first-child {
                        padding-top: 0;
                    }
                    &:not(:first-child) {
                        padding-bottom: 0;
                    }
                    .card {
                        border-radius: .8rem;
                        background-color: rgba($primary, .1);
                        ion-text {
                            font-size: 28px;
                        }
                    }
                }
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: .8rem;
                }
            }
        }
    }
    .additional {
        margin-top: .4rem;
        .cusines {
            app-cusine-card {
                margin-right: 1rem;
            }
        }
    }
}